body{
    display: flex;
    justify-content: center;
}

.layout{
    background-color: #daf2e0;
    width: 320px;
    height: 568px;
    padding: 0px 20px 0px 20px;
    margin: 50px 0px 0px 0px;
    border-radius: 1%;
    font-family: 'Poppins';

}

.input{
    margin-top: 2em;
}

.input label{
    margin-left: 20%;
    font-weight: bold;
}

.input-field{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    border: none;
    border-bottom: 5px solid rgb(27, 186, 51);
}

.input-field::placeholder{
    color: black;
    opacity: 1;
}

.addit{
    text-align: center;
}

.btn{
    background-color: green;
    color: white;
    margin: 3%;
    padding: 1em;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
    letter-spacing: 0.2em;
    border-radius: 3em;
    padding: 1em 2em 1em 2em;
}

.task{
    color: blue;
    display: flex; 
    flex-direction: row;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 0.4em;
}

.logout{
    color: red;
    position: absolute;
    left: 370px;
    top: 290px;
    text-decoration: none;
    font-weight: bold;
}

.logout:hover{
    font-style: italic;
}

.addtask{
    position: absolute;
    left: 745px;
    top: 520px;
    text-decoration: none;
    border: 20 solid dodgerblue;
    background-color: dodgerblue;
    padding: 10px 15px 10px 15px;
    border-radius: 40px;
    color: white;
}